:root{
    --light-blue: #63B3ED;
    --medium-blue: #4299E1;
    --dark-blue: #3182CE;

    --light-blue-8: #63b3edd2;
    --dark-blue-8: #3182ced5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

body{
    padding: 30px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, var(--light-blue-8), var(--dark-blue-8)) , url(/css/img/header-bg.jpeg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}